* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background: linear-gradient(50deg, rgb(73, 71, 71), rgb(173, 173, 173));
    width: 100vw;
    height: 70px;
    align-items: center;
    justify-content: space-around;

}

.nomeLoja {
    color: rgb(191 206 219);
    font-size: 30px;
    text-shadow: 0px 0px 20px rgb(241, 239, 239);
}

.destacar {
    color: red;
    font-size: 20px;
}

header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;

}

header a:hover {
    text-shadow: 0px 9px 8px #3ad95c;
}

header img {
    width: 30px;

}

.card {
    position: relative;
    background-color: rgb(24, 23, 23, .2);
    width: 450px;
    height: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 7px 2px black;
    top: -400px;

}

main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.banner button {
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    background-color: black;
    font-size: 20px;
    box-shadow: inset 0px 0px 20px 1px #a7aba2;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
}

.banner button:hover {
    box-shadow: 0px 0px 20px 1px #c9bf6d;
    font-size: 23px;
    text-align: center;
}

.card h2 {
    font-size: 38px;
    margin-top: 20px;
    color: white;
}

.banner {
    position: relative;
    width: 100vw;
}

main img {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.frete {
    background: linear-gradient(359deg,#00800000,#000000bd, #0080004a);
    height: 70px;
    text-align: center;
    padding-top: 20px;
    color: azure;
    margin-top: 10px;

}
#menu{
    display: none;
}
h1{
    width: 100vw;
    height: 112px;
    font-size: 100px;
    text-align: center;
    background: linear-gradient(10deg,rgb(185, 43, 43, .5), green, rgb(185, 43, 43, .5));
    color: azure;
    text-shadow: 4px 5px 20px black;
}

/* carrossel de imagnes */

.carrossel{
    position: relative;
    width: 100vw;
    height: 250px;
    padding: 10px;
    background: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.produto{
    position: relative;
    width: 30vw;
    height: 100vh;       
    border-radius: 10px;
    padding: 7px 29px;
    color: black;
    margin-bottom: 20px;    
    transition: .5s;
    text-align: center;
}
.produto:hover{
    box-shadow: inset 0 0 10px black; 
}
.produto img{
    position: relative;
    width: 25vw;
    border-radius: 5px;
    
}

ul{
    position: relative;
    list-style: none;
    font-size: 10px;
}

ul .valor{
    color: red;
    font-size: 15px;
    margin: 10px 0;
}
.botao-descricao{
    width: 25vw;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background: linear-gradient(10deg, black, green, black);
    color: white;
    cursor: pointer;
}

/*para celular*/

@media screen and (max-width: 750px) {
    #menus {
        display: block;
        position: absolute;
        height: 0;
        transition: .6s;
        background: brown;
        z-index: 1000;
        top: 70px;
        right: 0;
        padding: 10px 8px;
        background: linear-gradient(50deg, rgb(73, 71, 71), rgb(173, 173, 173));
        visibility: hidden;
        overflow-y: hidden;
    }


    header a {
        padding-top: 10px;
        height: 40px;
        position: relative;
        display: block;                            
        border-bottom: solid 1px rgb(73, 71, 71, .3)        

    }

    .card {
        width: 70vw;
        height: 100px;
        top: -160px;

    }

    h2 {
        font-size: 32px;
    }

    main {
        height: 200px;
    }

    section {
        background-color: rgb(91, 98, 105, .4);
        height: 70px;
        text-align: center;
        padding-top: 20px;
        color: azure;

    }

    .banner button {
        margin-top: 10px;
        height: 30px;
        background-color: rgb(22, 23, 24, .5);
        box-shadow: inset 0px 0px 20px 1px #69bb069f;
    }

    main img {
        height: 200px;
    }

    #menu{
        display: block;
    }

    #menus.active {
        height: calc(45vh - 70px);
        display: block;
        visibility: visible;
        
    }

    /* carrocel de imagens*/

    .carrossel{
        position: relative;
        width: 100vw;
        height: 73vh;
        padding: 10px;
        background: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .produto{
        position: relative;
        width: 30vw;
        height: 33vh;
        box-shadow: inset 0 0 10px black;    
        border-radius: 10px;
        padding: 7px;
        color: black;
        margin-bottom: 10px;        
    }
.produto:hover{
    width: 70vw;
    height: 70vh;
    position: absolute;
    background: white;
    z-index: 100;
    right: 50px;
}

    .produto img{
        position: relative;
        width: 25vw;
        border-radius: 5px;
    }
    ul{
        position: relative;
        list-style: none;
        font-size: 10px;
    }
    
    ul .valor{
        color: red;
        font-size: 15px;
        margin: 10px 0;
    }
    .botao-descricao{
        width: 25vw;
        height: 30px;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        border: none;
        background: linear-gradient(10deg, black, green, black);
        color: white;
        cursor: pointer;
    }
    
   

    /* animação do botão menu*/
    #menu{
        border-top: 3px solid;
        width: 30px;
        color: black;
        
    }

    #menu::after, #menu::before{
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
       
    } 
    
    #menu #menus.active{
        border-top-color: transparent;
    }

}